src/test/munit/format-handler/format-handler-test-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

  <apikit:config name="format-handler-server-config" api="munit/odata-orders-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

  <flow name="format-handler-server-main">
    <http:listener config-ref="http-listener-simple" path="/api/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="format-handler-server-config"/>
  </flow>

  <flow name="get:\orders:format-handler-server-config">
    <set-payload value='{"entries":[{"OrderID":10248,"ShipName":"Vins et alcools Chevalier","ShipAddress":"59 rue de l-Abbaye"}, {"OrderID":10249,"ShipName":"Toms Spezialitten","ShipAddress":"Luisenstr. 48"}]}'/>
  </flow>
</mule>
