src/test/munit/http-listener-base-path/http-base-path-test-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
      http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
      http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

  <http:listener-config name="http-listener-base-path" basePath="base">
    <http:listener-connection host="localhost" port="${free.port.simple.http}"/>
  </http:listener-config>

  <apikit:config name="base-path-config" api="munit/odata-orders-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus"/>

  <flow name="base-path-main">
    <http:listener config-ref="http-listener-base-path" path="/odata-ex-project/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.outboundHeaders default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="base-path-config"/>
  </flow>

  <flow name="get:\orders:base-path-config">
    <munit-tools:store key="headers">
      <munit-tools:value>#[attributes.headers]</munit-tools:value>
    </munit-tools:store>
    <munit-tools:store key="query-parameters">
      <munit-tools:value>#[attributes.queryParams]</munit-tools:value>
    </munit-tools:store>
    <munit-tools:store key="attributes">
      <munit-tools:value>#[attributes]</munit-tools:value>
    </munit-tools:store>
    <set-variable value="2" variableName="inlineCount"/>
    <set-payload value='{ "entries" : [{"OrderID":10248,"ShipName":"Vins et alcools Chevalier","ShipAddress":"59 rue de l-Abbaye"}, {"OrderID":10249,"ShipName":"Toms Spezialitten","ShipAddress":"Luisenstr. 48"}]}'/>
  </flow>

  <flow name="get:\orders\(orderId):base-path-config">
    <set-variable value="#[attributes.uriParams.orderId]" variableName="orderId"/>
    <set-payload value='#[
      %dw 2.0
      output application/json
      var pathToOrder = "classpath://munit/example_orders/order_" ++ vars.orderId as String ++ ".json"
      ---
      readUrl(pathToOrder, "application/json")
    ]'/>
  </flow>

</mule>
